# .env.secrets
SLACK_OAUTH_TOKEN<token here>
INVENTORY_REPO_URL="https://...../script-inventory"
INVENTORY_REPO_PAT=<pat token here>
GIT_USER_NAME="Bot user name here"
GIT_USER_EMAIL="Bot email here"
