{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "loose": true,
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "keepClassNames": true
  },
  "sourceMaps": true,
  "inlineSourcesContent": false,
  "module": {
    "type": "es6",
    "ignoreDynamic": true
  },
  "env": {
    "targets": {
      "node": "24"
    }
  }
}
